{% extends 'base.html' %}

{% block head %}
    <title>{{ title }}</title>
{% endblock %}


{# includs boby of this page#}
{% block body %}

    <div class="container">
     <h1>About Us</h1>
        <br>
       <p>We choose to go to the Moon" is the famous tagline of a speech about the effort to reach the Moon delivered by United States President John F. Kennedy to a large crowd gathered at Rice Stadium in Houston, Texas on September 12, 1962. The speech was intended to persuade the American people to support the Apollo program, the national effort to land a man on the Moon.
In his speech, Kennedy characterized space as a new frontier, invoking the pioneer spirit that dominated American folklore. He infused the speech with a sense of urgency and destiny, and emphasized the freedom enjoyed by Americans to choose their destiny rather than have it chosen for them. Although he called for competition with the Soviet Union, he also proposed making the Moon landing a joint project.
The speech resonated widely and is still remembered, although at the time there was disquiet about the cost and value of the Moon-landing effort. Kennedy's goal was realized in July 1969, with the successful Apollo 11 mission.
       </p>

    </div>

{% endblock %}





