{% extends 'base.html' %}

{% block head %}
    <title>Sale</title>
{% endblock %}


{% block body %}

        <div class="container">
        <h1> SALE! </h1>
        <div class="row">

            {% for objects in object_list %}
                <div class="col">
                {{ forloop.counter }}
                {% include 'products/bootstrap/cards.html' with obj=objects %}
                    {% if forloop.counter|divisibleby:3 %}
                    </div> </div><div class="row"><div class="col-12"><hr/></div>
                        {% else %}
                        </div>

                    {% endif %}
                <br>
{#                <a href="{{ objects.get_absolute_url }}">{{ objects.title }}</a> <br>#}
                {% endfor %}
        {#  {{ objects.title }} <br>#}
</div>




{% endblock %}