{% extends 'base.html' %}

{% block head %}
    <title>Products</title>
{% endblock %}


{% block body %}

{{ object.id }} <br>
{{ object.title }} <br>
{{ object.description }} <br>
{{ object.price }} <br>
{#{{ object.image.url }} <br>#}
{% if object.image %}
    <img src="{{ object.image.url }}" class="img-fluid"/>
{% endif %}

<div class="col-12 col-md-6">
  {{ cart }}
  {% if object in cart.product.all %}
      Added to Cart
      {% else %}
      Add to Cart
  {% endif %}
</div>

{% endblock %}